{
    margin: auto;
}
h1{
    text-align: center;
    text-shadow: 10px;
    text-overflow: inherit;
    text-wrap: wrap;
    
}
h3{
    text-align: center;
    font-size: medium ;
    text-align: right;
}
h3{top: auto;
    text-decoratio: solid;
}